[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bokeh = "==2.*"
numpy = "==1.*"
scipy = "==1.*"
geopandas = "==0.*"
psycopg2 = "==2.*"
python-dotenv = "*"

# Branch 3.x of pyproj won't build on heroku, see https://devcenter.heroku.com/articles/python-c-deps
pyproj="==2.*"

[requires]
python_version = "3.7"
